table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #aaaaaa;
}
th, td {
    font-family: monospace;
    padding: .25em 1em;
}
td {
    white-space: pre-wrap;
}
.invert {
    color: #fff;
    background: #333;
}
.invert a:link,
.invert a:visited {
    color: #fff;
}
.invert a:hover {
    color: #ff0000;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0 0 1em 0;
}
.nav > * {
    display: inline-block;
    padding: .25em 3em .25em 1em;
}
.nav form, .nav h3 {
    display: inline-block;
    padding: 0;
    margin: 0;
}
input[type=number] {
    width: 4em;
}
