{% extends "skeleton.html" %}

{% block title %}Log Server{% endblock %}

{% block head %}
{{ super() }}
<style>
li {
    list-style-type: none;
}
</style>
{% endblock %}

{% block body %}<h1>Log Server</h1>
<ul>{% for loggername in loggernames %}
    <li><a href="{{ url_for('log', loggername=loggername) }}">{{ loggername }}</a></li>
{% endfor %}</ul>
</ul>{% endblock %}
