{% extends 'skeleton.html' %}

{% from 'macros.html' import render_pagination %}

{% block title %}{{ loggername }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='log.css') }}">
{% endblock head %}

{% block body %}
<ul class="nav invert">
    <li><a href="{{ url_for('index') }}">Index</a></li>
    <li><h3>{{ loggername }}</h3></li>
    <li>
        <form method=GET>
            <label for=level>Level</label>
            <select id=level name=levelno>
            {%- for levelno, levelname in all_levels -%}
                <option value={{levelno}}{% if levelno == session['levelno'] %} selected{% endif %}>{{levelname|lower}}</option>
            {%- endfor -%}
            </select>

            <label for=per_page>Per Page</label>
            <input id=per_page type=number name=per_page value="{{ session['per_page'] }}">

            <label for=format_options>Datetime format</label>
            <select id=format_options name=selected_format_option>
            {%- for value, name in all_format_options -%}
                <option value="{{ value }}"{% if value == session['selected_format_option'] %} selected{% endif %}>{{ name }}</option>
            {% endfor %}</select>

            <input type=submit value=Refresh>
        </form>
    </li>
</ul>

{% if pagination.items %}<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Level</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for dblogrecord in pagination.items %}<tr>
            {%- set logrecord = dblogrecord.logrecord -%}
            <td>{{ logrecord.name }}</td>
            <td>{{ strftime(logrecord.created) }}</td>
            <td>{{ logrecord.levelname }}</td>
            <td>{{ logrecord.getMessage() }}</td>
        {% endfor %}</tr>
    </tbody>
</table>
{{ render_pagination(pagination, request.endpoint, loggername=request.view_args.loggername) }}
{% else %}
<h3>Empty</h3>{% endif %}
{% endblock body %}
