{% macro render_pagination(pagination, endpoint) %}
<div class=pagination>
{%- for page in pagination.iter_pages() %}
    {% if page %}
        {% if page != pagination.page %}
        <a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
        {% else %}
        <strong>{{ page }}</strong>
        {% endif %}
    {% else %}
    <span class=ellipsis>…</span>
    {% endif %}
{%- endfor %}
</div>
{% endmacro %}
