<!DOCTYPE html>
<html>
    <head>{% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    {% endblock head %}</head>
    <body>{% block body %}{% endblock %}</body>
</html>
